<%= form_for(@produt) do |f| %>
  <% if @produt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@produt.errors.count, "error") %> prohibited this produt from being saved:</h2>

      <ul>
      <% @produt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
